@media (min-width: 750px) {
    h1 {
        font-size: 6vw;
    }
    h3 {
        font-size: 3vw;
    }
    
    button {
        font-size: 2vw;
        
    }
    
    input {
        font-size: 2vw;
    }
    
    select {
        font-size: 2vw;
    }
    
    ul {
        font-size: 2vw;
    }

    #saving-data {
        font-size: 3vw;
    }
    .income-data {
        font-size: 3vw;
    }
    
    .cost-data {
        font-size: 3vw;
    }


    }
    



@media (min-width: 1200px) {
    h1 {
        font-size: 5vw;
    }
    h3 {
        font-size: 1.5vw;
    }
    
    button {
        font-size: 1vw;
        
    }
    
    input {
        font-size: 1vw;
    }
    
    select {
        font-size: 1vw;
    }
    
    ul {
        font-size: 1vw;
    }

    #saving-data {
        font-size: 1.5vw;
    }

    .income-data {
        font-size: 1.5vw;
    }
    
    .cost-data {
        font-size: 1.5vw;
    }
}







